.header {
  width: 100%;
  padding: 12px 8px;
  height: 44px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -1px;
  left: 0;
  margin-bottom: 4px;
  background: var(--color-white);
  z-index: 3;
}

.controlShadow {
  background: rgba(255, 255, 255, 0.58) !important;
  box-shadow: 0 6px 9px rgb(0 0 0 / 10%);
  transition: all 0.1s linear;
  z-index: 3;

  > div {
    border-color: transparent;
  }
}

.listWrapper {
  margin-top: 14px;
}
