.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 1;
  position: relative;
  padding-top: calc(42px + 12px * 2);
}

.header {
  width: 100%;
  padding: 12px 8px;
  min-height: 42px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 4px;
  z-index: 3;
  padding-top: calc(12px + env(safe-area-inset-top));
  background: var(--color-white);
}

.headerShadow {
  background: var(--color-white);
  box-shadow: 0 6px 16px rgba(8, 5, 0, 0.1);
  transition: all 0.1s linear;
}

.viewControl {
  width: 100%;
  padding: 0 8px;
  margin: 24px 0 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.viewControlListView {
  margin-bottom: 0;
}

.followers {
  width: calc(100% - 91px);
  margin: 0;
}

.spinner {
  margin: auto;
}

.control {
  width: 34px;
  height: 34px;
  padding: 0;

  &:nth-child(1) {
    margin: 0 8px 0 15px;
  }
}

.controlActive {
  background: var(--color-yellow-50);
}

.headerAlternative {
  visibility: hidden;
  z-index: -1;
  height: 44px;
  width: 100%;
  background: var(--color-white);
  box-shadow: 0 6px 16px rgba(8, 5, 0, 0.1);
  position: sticky;
  top: 0;
  transform: translateY(-100%);
  left: 0;
  padding: 8px 12px;
  transition: all 0.3s linear;
}

.visible {
  visibility: visible;
  z-index: 1;
  transform: translateY(0);
}

.errorBlock {
  width: calc(100% - 16px);
  height: 68px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  margin: 14px 8px 18px;
  border-radius: 4px;
  border: 1px solid var(--color-brand-orange);

  svg {
    min-width: 20px;
    color: var(--color-brand-orange);
  }
}

.errorBlockText {
  margin-left: 13px;
  line-height: 24px;
}
