@mixin transition-on-expand($property) {
  transition: $property 0.4s ease-out;
}

.header {
  position: relative;
  height: 108px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
  @include transition-on-expand(all);
  transition-property: margin-bottom, height;

  &_fixed {
    height: 56px;
    margin-bottom: 0px;
    background: transparent;
  }
}

.headerBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../assets/images/account-bg.svg');
  z-index: -1;
  @include transition-on-expand(opacity);

  &_hidden {
    opacity: 0;
  }
}

.fixedProfileInfo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  opacity: 1;
  @include transition-on-expand(opacity);

  &_hidden {
    opacity: 0;
  }
}

.menuItemBtn {
  min-width: 242px;
  padding-left: 22px;
  padding-right: 24px;
  justify-content: flex-start;
}

.menuItemIcon {
  color: var(--color-coal-black);
  width: 18px;
}

.largeAvatar {
  position: absolute;
  background: var(--color-white);
  border: 8px solid var(--color-white);
  width: 112px;
  height: 112px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
  @include transition-on-expand(opacity);

  &_hidden {
    opacity: 0;
  }
}

.smallAvatar {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.info {
  padding: 0 12px;
  max-height: 200px;
  @include transition-on-expand(max-height);

  &_hidden {
    overflow: hidden;
    max-height: 0px;
    padding: 0 12px;
  }
}

.manageVenuesBtn {
  margin-top: 20px;
  margin-bottom: 28px;
}

.manageVenuesIconBtn {
  opacity: 1;
  @include transition-on-expand(opacity);

  &_disabled {
    pointer-events: none;
    opacity: 0;
  }
}
