.listRoot {
  display: flex;
  flex-direction: column;
}

.gridRoot {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  padding: 0 8px;
}

.emptyListRoot {
  padding-top: 8px;
  text-align: center;
}
