.head {
  padding: 0 24px;
  min-height: 56px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mgBottomXs {
  margin-bottom: 8px;
}

.resetBtnText {
  color: var(--color-orange-peel);
}

.divider {
  border-color: var(--color-grey-200);
}

.mgBottom {
  margin-bottom: 20px;
}

.bottomSheetOverrides {
  & div[data-rsbs-overlay] {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  & div[data-rsbs-header] {
    padding-bottom: 0;
    padding-left: 0;
    box-shadow: none;
    padding-right: 0;
  }
}

.bottomSheetFullScreenOverrides {
  & div[data-rsbs-overlay] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & div[data-rsbs-header]::before {
    content: none;
  }
}
