:root {
  --fontPrimary: 'Noto Sans', sans-serif;
  --fontSecondary: 'Noto Sans', sans-serif;
  --color-coal-black: #080500;
  --color-brand-yellow: #FFDF3A;
  --color-brand-orange: #F76B06;

  --color-grey-10: #F5F5F5;
  --color-grey-20: #E7E7E7;
  --color-grey-30: #D7D7D6;
  --color-grey-40: #A6A5A3;
  --color-grey-50: #615F5C;
  --color-grey-60: #F5F5F5;

  --color-error-40: #FF695F;
  --color-error-50: #FF281B;

  --color-success-40: #4DDF6D;
  --color-success-50: #00D12E;

  --color-warning-40: #FFDA2F;
  --color-warning-50: #FFC700;

  --color-yellow-50: #FED79D;


  /// old one
  --color-amber: #eebd3d;
  --color-orange-peel: #f39e00;
  --color-brown: rgba(245, 159, 0, 0.25);

  --color-yellow-100: #fefcf4;
  --color-yellow-150: #fcf5da;
  --color-yellow-200: #fdf1e0;
  --color-yellow-250: #faecc7;
  --color-yellow-300: #f8e9ba;
  --color-yellow-350: #f7dfa1;
  --color-yellow-400: #ffd057;

  --color-white: #fff;
  // --color-grey-10: #e5e5e5;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #e7e7e7;
  --color-grey-300: #d7d7d6;
  --color-grey-400: #a6a5a3;
  --color-grey-500: #615f5c;
  --color-grey-600: #1b1b1b;

  --color-error-100: #ffeae8;
  --color-error-110: #ffc6c2;
  --color-error-120: #ff9f99;
  --color-error-200: #ff695f;
  --color-error-300: #ff281b;
  --color-error-400: #cc2016;

  --color-warning-100: #eeebff;
  --color-warning-110: #ccc2ff;
  --color-warning-120: #aa99ff;
  --color-warning-200: #8972ff;
  --color-warning-300: #5635ff;
  --color-warning-400: #452acc;
  --color-warning-600: #4285F4;

  --color-success-100: #e6faea;
  --color-success-110: #cbf6d4;
  --color-success-120: #a9efb8;
  --color-success-200: #4ddf6d;
  --color-success-300: #00d12e;
  --color-success-400: #00a725;

  --color-info-100: #e6f7ff;
  --color-info-110: #c2ebff;
  --color-info-120: #99ddff;
  --color-info-200: #4dc4ff;
  --color-info-300: #00abff;
  --color-info-400: #0089cc;
}
