.root {
  background: var(--color-white);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinnerWrapper {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 230px;
  height: 230px;
}

.formRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  margin-top: 35px;
}

.subtitle {
  margin-top: 11px;
  margin-bottom: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

.signIn {
  margin-top: 66px;
  width: 300px;
}

.row {
  width: 300px;
  margin-top: 35px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.caption {
  color: var(--color-grey-70);
}

.copyright {
  margin-top: auto;
  margin-bottom: 20px;
  color: var(--color-grey-70);
}
