.root {
  background: var(--color-white);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  padding: 32px 12px;
}

.logo {
  width: 104px;
  height: 32px;
}

.mgBottom {
  margin-bottom: 20px;
}

.formRoot {
  margin-top: auto;
  width: 100%;
}

.alterLoginButton {
  margin-top: auto;
}
