.root {
  background: var(--color-white);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  padding: 0 0 32px;
}

.formRoot {
  margin-top: auto;
  width: 100%;
  margin-bottom: auto;
  padding: 0 12px;
}

.results {
  width: 100%;
  margin: auto 0;
  padding: 0 12px;
}

.resultsTitle {
  margin-bottom: 20px;
}

.resultsText {
  margin-bottom: 36px;
}
