.profile {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  margin-bottom: 28px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  margin-right: 12px;
}

.profileColumn {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.profileName {
  margin-bottom: 6px;
}

.profileWallet {
  margin-bottom: 10px;
  padding: 0;
}

.profileWalletLink {
  color: var(--color-grey-50);
}

.profileBio {
}

.subscribeRow {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.subscribeButton {
  height: 34px;
  width: calc(100% - 51px);
}

.instagramButton {
  height: 34px;
  margin-left: 17px;
  width: 34px;
}
