.profile {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
  position: relative;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  margin-right: 12px;
}

.profileColumn {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.profileName {
  margin-bottom: 2px;
}

.profileWallet {
  margin-bottom: 7px;
  padding: 0;
  line-height: 1;
  min-height: unset;

  svg {
    color: transparent;
  }
}

.profileWalletLink {
  color: var(--color-grey-50);
}

.profileBio {
}

.subscribeRow {
  margin-top: 9px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.subscribeButton {
  width: 176px;
  height: 34px;
  min-height: 34px;
}

.instagramButton {
  height: 34px;
  min-height: 34px;
  min-width: 34px;
  width: 34px;
  padding: 4.5px;
  position: absolute;
  left: 55px;
  top: 114px;
}
