.root {
  padding-bottom: calc(72px - env(safe-area-inset-bottom));
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
