.mgBottom {
  margin-bottom: 12px;
}

.mgRightNegative {
  margin-right: -8px;
}

.colorGreyIcon {
  color: var(--color-grey-400);
}

.closeIcon {
  width: 18px;
  color: var(--color-grey-500);
}

.markIcon {
  color: var(--color-orange-peel);
  width: 20px;
}

.input {
  &::placeholder {
    color: var(--color-grey-500);
    opacity: 1;
  }
}